*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    #dedede,
    rgb(0, 57, 82),
    rgb(0, 57, 82),
    #dedede,
    #dedede)

}

header{
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: rgba(000, 000, 000, 80%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100vw;
  color:white;
}

.logo{
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo img{
  height: 5vh;
}
.logo:hover{
  filter: drop-shadow(2px 2px 3px white);
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw; 
  font-size: 2.8rem;
}

a{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 30vw;
}
nav a:hover{
  scale: 1.1;
  filter: drop-shadow(0 0 2px white);
  }

.container{
  border-radius: 1rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 360vh;
  font-size: 2.4rem;  
}

.outro{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 120vh; 
}


/* ------------------------------------ About Section ------------------------ */

.aboutLeft{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3.2rem;
  width: 45vw;
  filter:drop-shadow(0 0 20px black);

}
.aboutRight{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5rem;
  font-size: 1.6rem;
  width: 45vw;
  padding: 5rem;
  background: white;
 filter:drop-shadow(0 0 20px black);
}
.aboutLeft h1, span{
  color: white;
  font-size: 5rem;
}
.aboutRight h1{
  font-size: 3rem;
}
.feDev{
  display: block;
  font-size: 2.4rem;  
}
#Foto{
  filter:drop-shadow(0 0 10px black);
  border-radius: 100%;
  height: 25vh;
  border-radius: 0px;
}

/* ------------------------------------ Knowledge Section ------------------------ */

.carousel{
  margin-top: 10rem;
  position: relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh; 
  color: white;  
}

.item{
  position: absolute;
  transition: all 1s ease;
  cursor: pointer;
  height: 35vh; 
  width: 10vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  font-size: 2.5rem;
}
.positionCenter{ 
  filter:blur(0px);
  transform:scale(1) translate(-50%, -50%);
}
.positionMiddleLeft{
  filter:blur(15px);
  transform:scale(0.5) translate(450%, -10%);
  animation: fluctuate infinite ease-in-out 3s;

}
.positionMiddleRight{
  filter:blur(15px);
  transform:scale(0.5) translate(-700%, -10%); 
  animation: fluctuate infinite ease-in-out 3s;

}
.positionLeft{
  filter:blur(10px);
  transform:scale(0.7) translate(-350%, -50%);
  animation: fluctuate infinite ease-in-out 2.5s;


}
.positionRight{
  filter:blur(10px);
  transform:scale(0.7) translate(160%, -50%);
  animation: fluctuate infinite ease-in-out 2.5s;

}
.image{
  width: 10vw;
  height: 10vh;  
  pointer-events: none;
}
.knowledge{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25vw;
  height: 50vh;
  pointer-events: none;
}
.knowledgeBar{
  display:flex;
  align-items: center;
  width: 12rem;
  height: 1.3rem;
  border: solid white 0.15rem;
  border-radius: 10px;
  filter: drop-shadow(0 0 2px black);
  color:black;
  text-align: center;
}
.knowledgeText{
  margin: 10px;
  padding: 10px;
  font-size: 1.6rem;
}
.cssKB{
  margin-left: 2px;
  border-radius: 25px;
  width: 80%;
  background-color: #3c9cd7;
  filter:drop-shadow(0 0 3px #3c9cd7);

}
.htmlKB{
  margin-left: 2px;
  border-radius: 25px;
  width: 80%;
  background-color: #E44D26;
  filter:drop-shadow(0 0 3px #E44D26);
}
.nodeKB{
  margin-left: 2px;
  border-radius: 25px;
  width: 15%;
  background-color: #83CD29 ;
  filter:drop-shadow(0 0 3px #83CD29 );

}
.javaKB{
  border-radius: 10px;
  margin-left: 2px;
  width: 60%;
  background-color: #f1bf22;
  filter:drop-shadow(0 0 3px #f1bf22);
}
.reactKB{
  margin-left: 2px;
  border-radius: 25px;
  width: 0%;
  background-color: #1055FF;
  filter:drop-shadow(0 0 3px #1055FF);
}
.fill{
  height: 75%;
  animation: 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
:where(.positionCenter) img{
  filter: drop-shadow(0 0 3px white);
}
:where(.knowledgeBar) :first-child:not(.fill) {
  opacity: 0;
}
#ReactKB *{
  color: white;
}
/* ------------------------------------ Soft Skills Sections ------------------------ */
.skills{
  display:flex;
  align-items: center;
  height: 90vh;
  margin-top: 20vh;
  color: white;
}
.skillItem{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 80vh;
  transition-duration: 1s;
}

.skills .skillItem:hover{
  width: 250%;
}
.skillBody{
  font-size: 1.6rem;
  padding: 1rem;
}
.skillTitle, .skillBody{
  transition: all ease-in-out 1s;
}
.skillBody:not(:hover){
  opacity: 0;
}
.skillItem:hover :last-child{
  opacity: 1;
}
.skillItem:hover span:first-of-type{
  opacity: 0.3;
  scale:0.8;
}

/*-----------------------ANIMATIONS---------------------------*/

@keyframes fillIn {
  from{width: 0%;}
}
@keyframes fillOut {
  to{width: 0%;}
}

@keyframes fluctuate {

  0%{
    
    height: 35vh; 
  }
  50%{
   
    height: 33vh; 
  }
  100%{ 
    height: 35vh;  }
  
}



